<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!--<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/uniform.aristo.css">
	
	<script src="/js/lib/jquery.js"></script>
	<script src="/js/global.js"></script>
	<script src="/js/lib/jquery.uniform.js"></script>
	{{#scripts}}
		<script src="/js/viewjs/{{.}}.js"></script>
	{{/scripts}}

</head>
<body>
	<div id="flash">
		{{#flash}}
			<h3>{{.}}</h3>
		{{/flash}}
	</div>
	<div id="container">
		<div id="main" role="main">
			{{>content}}
		</div>
	</div>
</body>
</html>